body{ 
    margin: 0;
    padding: 0;
    font-family: Quicksand;
 }
header { 
left:0;
top:0;
width: 100%;
    background:#8F0043;
    text-align: left;
    position: relative;
    width: 100%;
    z-index: 999;
    padding-top: 10px;
    margin: 0;
 }
    .logo {color:#F3F6F5;
    font-family: Fredericka;
    margin: 0;
    margin-top: 3px;
    margin-bottom: 2px;
    margin-left: 3rem;
}
nav { position: absolute;
text-align: left;
top: 100%;
left: 0;
background: #8F0043;
width:100%;
display: none;  
}
nav ul {margin:0;
    padding: 0%;
list-style:none;
}
nav li { margin-bottom: 1em;
margin-left: 1em;   
}
nav a { color : #fff;
text-decoration: none;
font-size: 1.2rem;
}
nav a:hover {
color: #D3739C;
}
.nav-toggle:checked ~ nav{
display: block; 
}
.nav-toggle {display: none;
}
.nav-toggle-label { 
position: absolute;
top: 0;
left: 0;
margin-left: 1em;
margin-top: 1rem;
height: 100%;
display: flex;
align-items: center;
color:#8147ad;
}
.nav-toggle-label span{
display: block;
width: 4rem; 
height: 100%; 
}

@media screen and (min-width: 640px) {
.nav-toggle-label{
    display: none;
} 

header { display: grid;
   grid-template-columns: 0.5fr 0.5fr;
}
.logo { grid-column: 1/1;}

nav {
    position: unset;
text-align: unset;
top: unset;
left: unset;
background: #8F0043;
width:unset;
grid-column: 2/2;
display: flex;
justify-content:flex-end;
}
nav ul{
  display: flex;
 margin-left: 4rem;
  margin-bottom: 0;
}
nav ul li{
margin:0.5rem;
padding: 0rem;
position:relative; 
}
nav ul li a {
display: block;
font-family: Quicksand;
font-size: 1rem;
padding: 0.8rem 1rem; 
}
nav ul li ul{
display: none;
position:absolute;
top: 45px;
left: -4rem;
background-color: #8F0043;
padding: 0rem; 
}
nav ul li ul li a {
padding: 0.5rem;
}
nav ul li:hover ul {
display: block;
text-align: center;
}

nav ul li ul li {
width: 90px ;
}

nav ul li ul li a:hover {
background-color:#8F0043;
text-align: center;}}