
nav { 
    position: relative;
    text-align: center;
    top: 80px%;
    left: 0;
    background: #ffffff;
    width:100%;
    display: none;  
}

nav ul {margin:0;
    padding: 0%;
list-style:none;
justify-content: space-between;
}

nav li { margin-bottom: 1em;
margin-left: 1em; 
list-style: none;  
}

nav a { color : hsl(0, 0%, 0%);
text-decoration: none;
font-size: 1rem;
}

nav a:hover {
color: hsl(339, 96%, 41%);
}




@media screen and (min-width: 640px) {
.nav-toggle-label{
    display: none;
} 

nav {
    position: unset;
text-align: unset;
top: unset;
left: unset;
background: #ffff;
width:unset;
grid-column: 2/2;
display: flex;
justify-content:flex-end;
}
nav ul{
  display: flex;
 margin-left: 4rem;
  margin-bottom: 0;
}
nav ul li{
margin:0.5rem;
padding: 0rem;
position:relative; 
}
nav ul li a {
display: block;
font-family: Condara;
font-size: 1rem;
padding: 0.8rem 1.3rem; 
}
nav ul li ul{
display: none;
position:absolute;
top: 45px;
left: -4rem;
background-color: #fff;
padding: 0rem; 
}
nav ul li ul li a {
padding: 0.5rem;
}
nav ul li:hover ul {
display: block;
text-align: center;
}
nav ul li ul li {
width: 90px ;
}
nav ul li ul li a:hover {
background-color:#ffffff;
text-align: center;   
}

