body{ 
    margin: 0;
    padding: 0;
    font-family: Arial;
 }
header { 
left:0;
top:0;
width: 100%;
    background: #ffffff;
    text-align: left;
    position: fixed;
    width: 100%;
    z-index: 999;
    padding-top: 10px;
    margin: 0;
 }
    .logo {color:#7C618F;
    font-family: Arial;
    margin: 0;
    margin-top: 3px;
    margin-bottom: 2px;
    margin-left: 3rem;
}
nav { position: absolute;
text-align: left;
top: 100%;
left: 0;
background: #ffffff;
width:100%;
display: none;  
}
nav ul {margin:0;
    padding: 0%;
list-style:none;
}
nav li { margin-bottom: 1em;
margin-left: 1em;   
}
nav a { color : #AD9C7F;
text-decoration: none;
font-size: 1.2rem;
}
nav a:hover {
color: #554561;
}
.nav-toggle:checked ~ nav{
display: block; 
}
.nav-toggle {display: none;
}
.nav-toggle-label { 
position: absolute;
top: 0;
left: 0;
margin-left: 1em;
margin-top: 1rem;
height: 100%;
display: flex;
align-items: center;
color:#8147ad;
}
.nav-toggle-label span{
display: block;
width: 4rem; 
height: 100%; 
}

@media screen and (min-width: 640px) {
.nav-toggle-label{
    display: none;
} 

header { display: grid;
   grid-template-columns: 0.5fr 0.5fr;
}
.logo { grid-column: 1/1;}

nav {
    position: unset;
text-align: unset;
top: unset;
left: unset;
background: #ffff;
width:unset;
grid-column: 2/2;
display: flex;
justify-content:flex-end;
}
nav ul{
  display: flex;
 margin-left: 4rem;
  margin-bottom: 0;
}
nav ul li{
margin:0.5rem;
padding: 0rem;
position:relative; 
}
nav ul li a {
display: block;
font-family: Arial;
font-size: 1rem;
padding: 0.8rem 1.3rem; 
}
nav ul li ul{
display: none;
position:absolute;
top: 45px;
left: -4rem;
background-color: #fff;
padding: 0rem; 
}
nav ul li ul li a {
padding: 0.5rem;
}
nav ul li:hover ul {
display: block;
text-align: center;
}
nav ul li ul li {
width: 90px ;
}
nav ul li ul li a:hover {
background-color:#f3f3f3;
text-align: center;   
}

footer ul { list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin: 0.5rem;
    padding: 0.5rem;
}
footer li {
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
footer li a {
    color:#AD9C7F;
    text-decoration: none;
}
#copyright {
    color: #7C618F;
} }
@media screen and (max-width: 640px) {
    footer li a{
        display: none;
    }
    .sub{ display: none;} 
}
    
    #copyright {
        color: #7C618F; 
        display: flex;
        text-align: center;
       grid-template-columns: 0.5fr 0.5fr;
    }
  
    